# =========================
# POSTGRES - GOLD LAYER
# =========================
PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=combustiveis_dw
PG_USER=dw_user
PG_PASSWORD=dw_pass

# =========================
# CAMADAS
# =========================

## Exemplo caminhos de pastas locais
# Caminho para pasta de dados bronze
BRONZE_DATA_PATH="./data/bronze/"
# Caminho para pasta de dados silver
SILVER_DATA_PATH="./data/silver/"